*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    background-color: #9EC9E2;
    height: 10000px;
}

.webgl
{
    background-color: #9EC9E2;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.b-canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

